html, body{
  height: 100%;
}

body{
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo{
  margin-left:  1.5em;
}

h2{
  font-family: 'Merriweather', serif;
}

h6{
  color: white;
  font-weight: 500;
}

#container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0;
}

span{
  font-weight: 300;
}

#info_container{
  margin-left: 2em;
}

#chart{
  width: 550px;
  height: 350px;
}

#controls {
  position: absolute;
  float: right;
}

.btn-floating{
  margin-left: .5em;
}
